{% extends "base.html" %}
{% block navlist %}
        <li><a href="/"><i class="fa fa-home fa-lg"></i>&nbsp;Home</a></li>
        <li class=""><a href="/profile"><i class="fa fa-user fa-lg"></i>&nbsp;Profile</a></li>
        <li class="active"><a href="/analytics"><i class="fa fa-bullseye fa-lg"></i>&nbsp;Analytics</a></li>
        <li><a href="/logout"><i class="fa fa-external-link fa-lg"></i>&nbsp;Logout</a></li>
{% endblock %}
{% block content %}
<div class="container">
	<section>
		<h3>Analytics</h3>

		<div id="player">
			<h5>Your Analytics</h5>
			<p style="margin-left:15px">You have played {{games_played.count}} games</p>
			<p style="margin-left:15px">Your favorite sports are:</p>
			{% for sport in fav_sports %}
			<div style="margin-left:25px">* {{sport.0}}: {{sport.1}} games played </div>
			{% endfor %}
		</div>
		<div>
		<canvas id="canvas" width="400" height="300" style="margin-top:50px;margin-bottom:50px">
		This text is displayed if your browser does not support HTML5 Canvas.
		</canvas>
		</div>

		<script type="text/javascript">

		var myColor = ["#660000","#990000","#CC3333","#FF3333","#FF6699","#FF66FF"];
		var myData=new Array() ;

		{% for sport in fav_sports %}
			console.log({{sport.1}})
			myData.push({{sport.1}});
		{%endfor%}

		function getTotal(){
		var myTotal = 0;
		for (var j = 0; j < myData.length; j++) {
		myTotal += (typeof myData[j] == 'number') ? myData[j] : 0;
		}
		return myTotal;
		}

		function plotData() {
		var canvas;
		var ctx;
		var lastend = 0;
		var myTotal = getTotal();

		canvas = document.getElementById("canvas");
		ctx = canvas.getContext("2d");
		ctx.clearRect(0, 0, canvas.width, canvas.height);

		for (var i = 0; i < myData.length; i++) {
		ctx.fillStyle = myColor[i];
		ctx.beginPath();
		ctx.moveTo(200,150);
		ctx.arc(200,150,150,lastend,lastend+
		  (Math.PI*2*(myData[i]/myTotal)),false);
		ctx.lineTo(200,150);
		ctx.fill();
		lastend += Math.PI*2*(myData[i]/myTotal);
		}
		}

		plotData();
		</script>


		<div id="sport">
			<h5>Sport Analytics</h5>
		</div>


		<div id="game">
			<h5>Game Analytics</h5>
		</div>
	</section>
</div>
{% endblock %}