{% extends "base.html" %}
{% block navlist %}
        <li><a href="/"><i class="fa fa-home fa-lg"></i>&nbsp;Home</a></li>
        <li class=""><a href="/profile"><i class="fa fa-user fa-lg"></i>&nbsp;Profile</a></li>
        <li class="active"><a href="/analytics"><i class="fa fa-bullseye fa-lg"></i>&nbsp;Analytics</a></li>
        <li><a href="/logout"><i class="fa fa-external-link fa-lg"></i>&nbsp;Logout</a></li>
{% endblock %}
{% block content %}
<div class="container">
	<section>
		<h3>Analytics</h3>

		<div id="player">
			<h5>Your Analytics</h5>
			<p style="margin-left:15px">You have played {{games_played.count}} games</p>
			<p style="margin-left:15px">Your favorite sports are:</p>
			{% for sport in fav_sports %}
			 <div style="margin-left:25px">* {{sport.0}}: {{sport.1}} games played </div>
			{% endfor %}
		</div>
	    <div id="piechart_3d" style="width: 800px; height: 500px;"></div>
			
		 <script type="text/javascript" src="https://www.google.com/jsapi"></script>
	     <script type="text/javascript">
	     	 google.load("visualization", "1", {packages:["corechart"]});
	     	 google.setOnLoadCallback(drawChart);
	     	 var mySportsArr=new Array();
	     	 mySportsArr.push(['Sport', 'Games Played'])
	     	 {% for sport in fav_sports %}
				   mySportsArr.push(["{{sport.0}}", {{sport.1}}])
			{% endfor %}

	      	function drawChart() {
	        var data = google.visualization.arrayToDataTable(mySportsArr);

	        var options = {
	          title: 'My Sports Breakdown',
	          is3D: true,
	        };
	        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
	        var options = {
	  		colors: ['#e0440e', '#e6693e', '#ec8f6e', '#f3b49f', '#f6c7b6']
			};
	        chart.draw(data, options);
	      }
	     </script>


		<div id="sport">
			<h5>Sport Analytics</h5>
			Popular locations:
			{% for k,v in sorted_freq_places.iteritems %}
			<div>{{k}}: {{v.0.1}} games in {{v.0.0}}</div>
			{% endfor %}
		</div>

		<div id="game">
			<h5>Game Analytics</h5>
			<div>{{all_games_played.count}} games played</div>

			{% for sport,num in games_played_breakdown.iteritems %}
			<div>{{sport}}: {{num}}</div>
			{% endfor %}
		</div>
	</section>
</div>
{% endblock %}