{% extends "base.html" %}
{% block navlist %}
        <li class=><a href="/"><i class="fa fa-home fa-lg"></i>&nbsp;Home</a></li>
        <li><a href="/profile"><i class="fa fa-user fa-lg"></i>&nbsp;Profile</a></li>
        <li class="active"><a href="/analytics"><i class="fa fa-tasks fa-lg"></i>&nbsp;Analytics</a></li>
        <li><div id="nav-div">
        <form class="navbar-form navbar-center" role="search">
          <div id="nav-search" class="input-group input-group-sm col-xs-4">
            <input type="text" class="form-control" id="search" placeholder="Search for People and Games"></input>
          </div>
        </form>
        </div></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="notification">
            <i class="fa fa-bell-o fa-lg"></i>
            {% if unread_count %}<span class="badge">{{unread_count}}</span>{%endif%}
          </a>
          {% if unread_count %}
          <ul class="dropdown-menu">
            {% for note in user.notifications.unread %}
            <li><a href="#">{{note.verb}} ({{note.timesince}} ago)</a></li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        <li><a id="nav-name" href="/profile">{{user.first_name}} {{user.last_name}}</a></li>
        <li id="logout-link"><a href="/logout"><i class="fa fa-external-link fa-lg"></i>&nbsp;Logout</a></li>
{% endblock %}
{% block content %}
<div class="container">
	<section>
		<h3>Analytics</h3>

		<div id="player">
			<h5>Your Analytics</h5>
			<p style="margin-left:15px"><b>You have played {{games_played.count}} games</b></p>
		</div>
	    <div id="piechart_3d" style="width: 50%px; height: 300px;"></div>
			
		 <script type="text/javascript" src="https://www.google.com/jsapi"></script>
	     <script type="text/javascript">
	     	 google.load("visualization", "1", {packages:["corechart"]});
	     	 google.setOnLoadCallback(drawChart);
	     	 var mySportsArr=new Array();
	     	 mySportsArr.push(['Sport', 'Games Played'])
	     	 {% for sport in fav_sports %}
				   mySportsArr.push(["{{sport.0}}", {{sport.1}}])
			{% endfor %}

	      	function drawChart() {
	        var data = google.visualization.arrayToDataTable(mySportsArr);

	        var options = {
	          title: 'My Sports Breakdown',
	          is3D: true,
	        };
	        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
	        var options = {
	  		colors: ['#e0440e', '#e6693e', '#ec8f6e', '#f3b49f', '#f6c7b6']
			};
	        chart.draw(data, options);
	      }
	     </script>


		<div id="sport">
			<h5>Sport Analytics</h5>
			<p style="margin-left:15px"> <b> Top locations by sport: </b> <p>
			{% for k,v in sorted_freq_places.iteritems %}
			<div style="margin-left:25px"> * {{k}}: {{v.0.1}} games in {{v.0.0}}</div>
			<div id="{{k}}" style="width: 50%px; height: 300px;"></div>
			{% endfor %}

			 <script type="text/javascript" src="https://www.google.com/jsapi"></script>
	     	 <script type="text/javascript">
	     	 var locations = new Array();
	     	 locations[0] = new Array();
	     	 locations[1]= new Array();
	     	 locations[2] = new Array();
	     	 {% for k,v in sorted_freq_places.iteritems %}
	     		 {% for elem in v %}
	     	 	console.log('{{elem.0}}')
	     		 {% if '{{elem.0}}' == 'Wilbur field' %}
	     	 		locations[0].push (['{{k}}', {{elem.1}} ])
	     	 	 {% elif '{{elem.0}}' == 'Arillaga Gym' %}
	     	  		locations[1].push (['{{k}}', {{elem.1}} ])
	     	 	 {% elif '{{elem.0}}' == 'Golf Course' %}
	     	  		locations[1].push (['{{k}}', {{elem.1}} ])
	     	  	{% endif %}
	     	   {%endfor %}
	     	 {%endfor %}
	     	  console.log(locations[0])
	     	 </script> 
		</div>



		<div id="game" style="margin-top:50px">
			<h5>Game Analytics</h5>
			<p style="margin-left:15px"><b>{{all_games_played.count}} games played overall</b></p>
	  </div>
			<div id="piechart_3d_2" style="width: 50%px; height: 300px;"></div>
			
			 <script type="text/javascript" src="https://www.google.com/jsapi"></script>
	     	<script type="text/javascript">

	     	 google.load("visualization", "1", {packages:["corechart"]});
	     	 google.setOnLoadCallback(drawChart_2);
	     	 var mySportsArr2=new Array();
	     	 mySportsArr2.push(['Sport', 'Games Played'])
	     	 {% for sport,num in games_played_breakdown.iteritems %}
				   mySportsArr2.push(["{{sport}}", {{num}}])
			{% endfor %}

	      	function drawChart_2() {
	        var data = google.visualization.arrayToDataTable(mySportsArr2);

	        var options = {
	          title: 'Sports Breakdown',
	          is3D: true,
	        };
	        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d_2'));
	        var options = {
	  		colors: ['FF00CC',	'FF33FF',	'FF66FF',	'FF99FF',	'FFCCFF']
			};
	        chart.draw(data, options);
	      }
	     </script>
	

	</section>
</div>
{% endblock %}