{% extends "base.html" %}

{% block content %}   
<body>
    <!--Main-->
    <section id="" class="">
      <div class="container">
        <div class="row margin-50">
          
          <div class="col-sm-6 col-sm-offset-3 text-center signup">
            <h3>Create Game</h3><br />
  					<form role="form" id="signup" action="/create_game/" method="post">{% csrf_token %}
              <div class="form-group">
                {{gameForm.sport}}
               </div>
              <div class="form-group">
                {{gameForm.name}}
               </div>
              <div class="form-group">
                {{gameForm.location}}
              </div>
              <!-- <div class="form-group">
                {{gameForm.description}}
              </div> -->
            
             <!-- <div class="form-group">
                {{gameForm.timeStart}}
                 <div class="date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
  <input class="span2" size="16" type="text" value="12-02-2012">
 </div>
              </div> -->
              <div class="form-group">
                <!-- <div class="controls input-append date form_datetime" data-date="{{datetime.datetime.now}}" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1"> -->
                <div class="controls input-append date form_datetime" data-date="{{datetime.datetime.now}}" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                    <input size="50" type="text" value="" name="datetime" readonly placeholder="Date and Time">
                    <span class="add-on"><i class="icon-remove"></i></span>
                    <span class="add-on"><i class="icon-th"></i></span>
                </div>
                <input type="hidden" id="dtp_input1" value="" /><br/>
              </div>

              <br />
              <div>
                <button type="submit" class="btn btn-primary btn-lg">Game Time</button>
              </div>
             </form>
      	  
          </div><!--End Span6-->
          
        </div>
      </div>
    </section>
{% endblock %}

{% block javascript %}
    <script>
      $('.form_datetime').datetimepicker({
      //language:  'fr',
      weekStart: 1,
      todayBtn:  1,
      autoclose: 1,
      todayHighlight: 1,
      startView: 2,
      forceParse: 0,
      showMeridian: 1
    });
    </script>
{% endblock %}
