{% extends "base.html" %}

{% block navlist %}
{% endblock %}

{% block content %}
<div class="container">
	<section>
		<h3>Welcome to Reqtime, {{user.first_name}}!</h3>
		<div class="progress">
		  <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
		    30%
		  </div>
		</div>
		<div>
			<h5>What are you favorite sports?</h5>
			<br/>
			<div id="sports_select">
				<ul>
					<li><a href="#" value="basketball">Basketball</a></li>
					<li><a href="#" value="football">Football</a></li>
					<li><a href="#" value="frisbee">Frisbee</a></li>
					<li><a href="#" value="golf">Golf</a></li>
					<li><a href="#" value="soccer">Soccer</a></li>
					<li><a href="#" value="volleyball">Volleyball</a></li>
				</ul>
			</div>
		</div>
		<br />
		<div>
			<a type="button" id="next_step_button" class="btn btn-primary disabled" style="float:right">Next</a>
		</div>
	</section>
</div>
{% endblock %}

{% block javascript %}
<script>
$("#next_step_button").click(function() {
	$.ajax({
	  type: "POST",
	  url: "/first_login/",
	  data: { 
	    'csrfmiddlewaretoken':'{{csrf_token}}',
	    'sports': localStorage.getItem("sports")
	  },
	  success: function(data) {
	  	localStorage.clear();
	    window.location.href = '/first_login2';
	  },
	});
});
</script>
<script src="/static/js/first_login.js"></script>
{% endblock %}