{% extends "base.html" %}
{% block title %}{{game.name}}{%endblock%}
{% block content %}

 <!-- SignUp Modal -->
    <div class="modal fade" id="photosModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> </div>
    <div class="modal fade" id="friendsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> </div> 
<!-- <section class= "overlay" style="background-image: url(/static/images/{{game.sport}}.jpg); overflow:scroll" >
 --><section class= "overlay" style="background-image: url(/static/img/white_wall.png); overflow: scroll;" >
  <div class="container" >
    {% if game_exists %}
    <h2 style="">{{game.name}}
      {% if is_creator %}
      (creator)
      {% endif %}
    </h2>
    <div> 
    {% if not passed_game %}
      {% if is_creator %}
        <form role="form" action="/delete_game/" method="POST" id="delete_form">{% csrf_token %}
          <input type="hidden" name="game_id" value="{{game.id}}">
        </form>
        <button type="button" class="btn btn-danger delete_button" id="delete">
          <i class="fa fa-trash-o fa-lg"></i> Delete Game
        </button> 
        
        <a type="button" class="btn btn-asphalt" href='/invite_friends/{{game.id}}' id="" data-toggle="modal" data-target="#friendsModal"> Invite Players </a>

        {% if connected_to_instagram %}
        <a type="button" class="btn btn-instagram instagram" href='/get_instagram_photos/{{game.id}}' id="" data-toggle="modal" data-target="#photosModal">
          <i class="fa fa-camera-retro"></i> | Post Photos From Instagram
        </a>
        {% else %}
        <a type="button" class="btn btn-instagram instagram" href='https://api.instagram.com/oauth/authorize/?client_id={{instagramID}}&redirect_uri={{redirectURL}}&response_type=code'>
            <i class="fa fa-camera-retro"></i> | Connect to Instagram to Post Photos
        </a>
        {% endif %} 
      {% else %}
        {% if not maxed %} 
          <form role="form" action="/join_quit_game/" method="POST" id="join_form">{% csrf_token %}
            <input type="hidden" name="game_id" value="{{game.id}}">
          </form>
          {% if not joined %}
            <button type="button" class="btn btn-success join_button" id="join">
              <i class="fa fa-plus fa-med"></i> Join</button>    
          {% else %}
            <button type="button" class="btn btn-danger join_button" id="leave">
              <i class="fa fa-minus fa-lg"></i> Leave</button>
            <a type="button" class="btn btn-asphalt" href='/invite_friends/{{game.id}}' id="" data-toggle="modal" data-target="#friendsModal"> Invite Players </a> 
            {% if connected_to_instagram %}
            <a type="button" class="btn btn-instagram instagram" href='/get_instagram_photos/{{game.id}}' id="" data-toggle="modal" data-target="#photosModal">
          <i class="fa fa-camera-retro"></i> | Post Photos From Instagram </a>
            {% else %}
            <a type="button" class="btn btn-instagram instagram" href='https://api.instagram.com/oauth/authorize/?client_id={{instagramID}}&redirect_uri={{redirectURL}}&response_type=code'>
                <i class="fa fa-camera-retro"></i> | Connect to Instagram to Post Photos
            </a>
            {% endif %}
          {% endif %}
        {% else %}
          <p>Sorry! All game spots are filled.</p>
        {% endif %}
      {% endif %}
    {% else %}
      {% if connected_to_instagram %}
        <a type="button" class="btn btn-instagram instagram" href='/get_instagram_photos/{{game.id}}' id="" data-toggle="modal" data-target="#photosModal">
          <i class="fa fa-camera-retro"></i> | Post Photos From Instagram
        </a>
      {% endif %}

    {% endif %}
  </div> 
 
  <div style="display:block">
    <div class="transbox left" >
      <p  class="players">Name: {{game.name}}</p>
      <p  class="players">Creator: <a href="/user/{{game.creator.id}}">{{game.creator.first_name}} {{game.creator.last_name}}</a></p>
      <p  class="players">Sport: <a href="/sport/{{game.sport.name}}">{{game.sport.name}}</a></p>
      <p  class="players">Location: {{game.location.name}}</p>
      <p  class="players">Time: {{game.timeStart}}</p>
      <p  class="players">Description: {{game.description}}</p>
      <p  class="players">Players
        <ol>
          {% for player in game.users.all %}
          <li id="{{player.id}}" class="players"><a href="/user/{{player.id}}"><img src="{{player.userinfo.profile_picture}}" class="avatar" />{{player.first_name}} {{player.last_name}}</a></li>
          {% endfor %}
        </ol>
      </p>
    </div> 
    <div id='map-canvas' style="width:45%; margin-left:2px"></div>
    {% else %}
    <h2>This game does not exists.</h2>
    {% endif %}
  </div>
  <div style="display:block; margin-top:400px">

    {% if game.gamephoto_set.all.count %}
    <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery">
        <!-- The container for the modal slides -->
        <div class="slides"></div>
        <!-- Controls for the borderless lightbox -->
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
        <!-- The modal dialog, which will be used to wrap the lightbox content -->
        <div class="modal fade">
            <div class="modal-dialog space-top">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close black" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body next"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left prev">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            Previous
                        </button>
                        <button type="button" class="btn btn-primary next">
                            Next
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="game_photos" style="width:100%">
      <h3>Game Photos</h3>
       <div id="links">
      {% for game_photo in game.gamephoto_set.all %}
       <a href="{{game_photo.standard}}"  data-gallery>
        <img src="{{game_photo.thumbnail}}" style="width:200px; height:200px">
    </a>
      {% endfor %}
      </div>
    </div>
    {% endif %}

   <h3> Discussion thread </h3> 
    <div class="comment_box" style="margin-top:10px; margin-right:10px; width:45%; float:left">
      <form class="form-horizontal" role="form" action="/comment/" method="POST">{% csrf_token %}
        {{comment_form.text}}
        {{comment_form.user_id}}
        {{comment_form.game_id}}
        <button type="submit" class="btn btn-primary" style ="margin-top:15px">Post</button>
      </form>
    </div> 
  </div>
       {% if game.comment_set.all.count %}
      <ul class="media-list">
        {% for comment in game.sorted_comment_set %}
        <li class="media">
          <a class="pull-left" href="#">
            <img class="media-object" data-src="">
          </a>
        </li>
        <div class="media-body" style="float:right; width:50%">
              <h4 class="media-heading">{{comment.commenter.first_name}} {{comment.commenter.last_name}}</h4>
            {{comment.text}}
            {{comment.timeStamp}}
        </div>
        {% endfor %}
      </ul>
      {% endif %}
    </div> 
    </div>
  </div>
 

<style type="text/css">
 #map-canvas {
    width: 500px;
    height: 400px;
    float:right;
  }
</style> 

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<!-- Cannot pull this out as the google map won't show up -->
<script>  
  function initialize() {
    var myLatlng = new google.maps.LatLng({{game.location.latitude}}, {{game.location.longitude}});
    var mapOptions = {
    zoom: 15,
    center: myLatlng,
    }
    var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    var image = {
    url: "/static/images/{{game.sport}}.png",
    size: new google.maps.Size(71, 71),
    origin: new google.maps.Point(0, 0),
    anchor: new google.maps.Point(17, 34),
    scaledSize: new google.maps.Size(25, 25)
    };
    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      //icon:image,
    });

  }google.maps.event.addDomListener(window, 'load', initialize);
</script>
<script src="/static/js/game.js"></script> 

</section>
{%endblock%}



{% block javascript %}

<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
<script src="/static/js/jquery.blueimp-gallery.min.js"></script>
<script src="/static/js/bootstrap-image-gallery.min.js"></script>

<!-- <script type="text/javascript"></script> -->
{% endblock %}