{% extends "base.html" %}
{% block content %}
{% load notifications_tags %}
<style>
  html, body, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
  }
</style>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script>


var infowindow=null;

function initialize() {

  var myLatlng = new google.maps.LatLng(37.422, -122.16);

  var mapOptions = {
    zoom: 14,
    center: myLatlng
  };
  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  
  var locations = new Array();
  var games={};

  var json = '{{games_json|safe}}';
  var json_game_string = JSON.parse(json);
  //console.log(json_game_string);

  var i=0
  for (var key in json_game_string) {
    if (json_game_string.hasOwnProperty(key)) {
      var hash_key = key;
      var object = json_game_string[key];
      var lat = object['location_info']['latitude'];
      var longi = object ['location_info']['longitude'];
      games[hash_key]= object['games']
      locations[i]= new Array();
      locations[i].push(hash_key);
      locations[i].push(lat);
      locations[i].push(longi);
      i+=1;
    }
  }


  var markers= new Array ();
  var marker; 
  var infowindow = new google.maps.InfoWindow;
  
  var games_by_loc = {};

  for (var key in games) {
    if (json_game_string.hasOwnProperty(key)) {
      games_by_loc[key] = [new Array()];
    }
    var i=0;
    for (var key_2 in games[key]) {
      games_by_loc[key][i]=new Array();
      var curr_game = (games[key][key_2]);
      var game_id = curr_game['id'];
      var sport = curr_game['sport'];
      var name = curr_game['name'];
      var remaining= curr_game['curr_num_players'];
      var total = curr_game['max_num_players'];
      if (!total){
        total="Unlimited"
      }
      var game_string = '<div>'+sport+': '+ "<a href ='/game/"+game_id+"' style='color:red; text-decoration:underline'>"+ name+"</a> Spots remaining:" + remaining + " of " + total +"</div>"
      games_by_loc[key][i].push(game_string);
      i+=1;
    }
  }


  var content_1;
  var content_2; 

  for (i = 0; i < locations.length; i++) { 
       marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      markers.push(marker);

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          var content_1 = '<div style="font-weight:bold; text-align:center">' + locations[i][0] + '</div>';
          loc = locations[i][0]
          
          for (j=0; j<games_by_loc[loc].length; j++){
              console.log(games_by_loc[loc][j]);
              content_1 += '<p>' + games_by_loc[loc][j] + '</p>';
          }
          infowindow.setContent(content_1);
          infowindow.open(map, marker);
        }
      })(marker, i));
  }
}


google.maps.event.addDomListener(window, 'load', initialize);


</script>
  
  {% notifications_unread as unread_count %}
  {% if unread_count %}
  <section>
    You have <strong> {{unread_count}} </strong> unread notifications.
    {{user.notifications.unread}}
    {% for note in user.notifications.unread %}
      <p>{{note.target}}</p>
    {% endfor %}
  </section>
  {% endif %}

  {% if messages %}
  <section style="padding-bottom:0">
    {% for message in messages %}
    <div class="alert alert-success alert-dismissable" style="margin-bottom:0; text-align: center">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{message}}
    </div>
    {% endfor %}
  </section>
  {% endif %}
  <div id="map-canvas" style= "position:relative; z-index:1"></div>
  <div>
    <a href="/create_game" type="button" class="btn btn-success" style="position: relative; z-index:2">Create Game</a>
  </div> 
      

    <!-- <a href="/logout" type="button" class="btn btn-primary">Logout</a>  -->
{%endblock%}