<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>SafeDriven</title>
  {% load staticfiles %}
  <!-- Styles -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <!-- <link rel="stylesheet" href="/static/css/colors/green.css">
  <link rel="stylesheet" href="/static/css/custom-styles.css"> -->

  <script src="{% static 'js/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>

</head>
<body>
  <div class="container">
    <p>Welcome {{user.first_name}} {{user.last_name}}!</p>
  </div>
</body>
</html>