{% extends "base.html" %}
{% block content %}
  {% if messages %}
  <section style="padding-bottom:0">
    {% for message in messages %}
    <div class="alert alert-success alert-dismissable" style="margin-bottom:0; text-align: center">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{message}}
    </div>
    {% endfor %}
  </section>
  {% endif %}
  <div id="home-container" class="col-xs-12" style="background-image: url(/static/img/white_wall.png); overflow:scroll">
    <div id="map-container" class="col-xs-6">
       <!-- <p><b> Filter games by sport </b></p> -->
       <a href="/create_game" type="button" class="btn btn-success" style="position: relative; z-index:2">
      <i class="fa fa-pencil fa-lg"></i> Create Game</a><br/>
  <label><input type="radio" id="all" name='sport'onclick="boxclick(this,'sport','all')" checked /> All </label>
<label><input type="radio" id="basketball" name='sport'onclick="boxclick(this,'sport','basketball')" /> Basketball </label>
<label><input type="radio" id="football" name='sport' onclick="boxclick(this,'sport','football')"  /> Football </label>
<label><input type="radio" id="soccer" name='sport' onclick="boxclick(this,'sport','soccer')"  /> Soccer</label>
<label><input type="radio" id="frisbee" name='sport' onclick="boxclick(this,'sport','frisbee')"  /> Frisbee</label>
<label><input type="radio" id="tennis" name='sport' onclick="boxclick(this,'sport','tennis')"  /> Tennis</label>
<label><input type="radio" id="golf" name='sport' onclick="boxclick(this,'sport','golf')" /> Golf</label>
<label><input type="radio" id="volleyball"  name='sport' onclick="boxclick(this,'sport','volleyball')" /> Volleyball</label>
    <div id="map-canvas"></div>
   
 
</div>

  <div class="activity-feed col-xs-6">
        
        <h3 class="activity-feed-label">Activity Feed</h3>
        <table id="activity">
            {% for action in actions %}
            {% if action.actor != user %}
            <tr class="{% cycle 'odd' 'even' %}"><td class="date"><!-- <i class="fa fa-dribbble fa-lg"></i> --><span class="game-month">{{action.timestamp.date | date:"M"}} {{action.timestamp.date.day}}</span><br/><span class="game-time" style="text-align:center; font-weight: bold;">
              {{action.timestamp.time | time:"g:i A"}}</span></td><td class="info">
        <div class="single-game">     
          <h5 class="activity-name">
                    {% if action.verb == "leave game" %}
                      <i class="fa fa-minus-circle fa-xs"></i> <a href="/user/{{action.actor.id}}" class="user-name">{{action.actor.first_name}} {{action.actor.last_name}}</a> left <a href="/game/{{action.action_object.id}}" class="game-name">{{action.action_object.name}}</a>.
                      </h5>
                    {% elif action.verb == "game created" %}
                      <i class="fa fa-star fa-xs"></i> <a href="/user/{{action.actor.id}}" class="user-name">{{action.actor.first_name}} {{action.actor.last_name}}</a> created <a href="/game/{{action.action_object.id}}" class="game-name">{{action.action_object.name}}</a>.
                      </h5>
                    {% elif action.verb == "join game" %}
                      <i class="fa fa-plus-circle fa-xs"></i> <a href="/user/{{action.actor.id}}" class="user-name">{{action.actor.first_name}} {{action.actor.last_name}}</a> joined <a href="/game/{{action.action_object.id}}" class="game-name">{{action.action_object.name}}</a>.
                      </h5>
                    {% elif action.verb == "started following" %}
                      <i class="fa fa-rss fa-xs"></i> <a href="/user/{{action.actor.id}}" class="user-name">{{action.actor.first_name}} {{action.actor.last_name}}</a> is now following <a href="/user/{{action.target.id}}" class="game-name">{{action.target.first_name}} {{action.target.last_name}}</a>. </h5>
                    {% elif action.verb == "photo upload" %}
                      <i class="fa fa-instagram fa-xs"></i> <a href="/user/{{action.actor.id}}" class="user-name">{{action.actor.first_name}} {{action.actor.last_name}}</a> uploaded a photo for <a class="game-name" href="/game/{{action.action_object.game.id}}">{{action.action_object.game.name}}</a>:</h5> 
                      <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery">
        <!-- The container for the modal slides -->
        <div class="slides"></div>
        <!-- Controls for the borderless lightbox -->
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
        <!-- The modal dialog, which will be used to wrap the lightbox content -->
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body next"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left prev">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            Previous
                        </button>
                        <button type="button" class="btn btn-primary next">
                            Next
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
                    <div class="game_photos" style="width:100%">
                      <div id="links">
                        <a href="{{action.action_object.standard}}" data-gallery>
                          <img class="thumbnail-img" src="{{action.action_object.thumbnail}}"></img>
                      </a>
                    </div></div>


                      <!-- <img class="thumbnail-img" src="{{action.action_object.thumbnail}}"></img> -->
                    {% endif %}
                    
                <!-- <ul class="game-details">
                    <li class="game-location">{{game.location.name}}</li>
                    <li class="game-time">{{game.timeStart.time}}</li>
                    <li class="game-status">Status: {{game.users.count}}/{{game.cap}} Players</li>
                </ul> -->
            </td>
               <!--  <form action="/game/{{game.id}}"> -->
                   <!-- <td class="links"> <a href="/game/{{game.id}}" class="btn btn-default visit-game">Game Details</a>
                    {% if loggedinUser != game.creator %}
                     {% if loggedinUser not in game.users.all %}
                        {% if game.users.all.count < game.cap %}
                    <button id="join_{{game.id}}" type="button" class="btn btn-success visit-game join_button">
                        
                        <i class="fa fa-plus fa-md"></i>Join</button> </td>
                        {% endif %}
                    {% else %}
                        <button type="button" class="visit-game btn btn-danger join_button" id="leave_{{game.id}}">
                        <i class="fa fa-minus fa-lg"></i> Leave</button> 

                    {% endif %}
                    {% else %}
                    <form role="form" action="/delete_game/" method="POST" id="delete_form">{% csrf_token %}
                      <input type="hidden" name="game_id" value="{{game.id}}">
                    </form>
                    <button type="button" class="btn btn-danger delete_button visit-game" id="delete">
                      <i class="fa fa-trash-o fa-lg"></i> Delete Game
                    </button> 
                    {% endif %}
               <!--  </form> -->
                {% endif %}
                {% empty %}
                No games found. Please join one!
                {% endfor %}
<!--                 </div>
                </div>
            </div> 
    </div></td>--></tr>
</table>
</div>

<script src="/static/js/jquery.blueimp-gallery.min.js"></script>
<script src="/static/js/bootstrap-image-gallery.min.js"></script>

{%endblock%}

