{% extends "base.html" %}
{% block navlist %}
{% endblock %}
{% block content %}   
    <!-- SignUp Modal -->
    <div class="modal fade" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog register">
        <div class="modal-content signup">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Signup</h4>
          </div>
          <div class="modal-body">
            <!-- <ul class="list-inline social-icons-signup">
              <li><a class="twitter" href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
              <li><a class="facebook" href="#" target="_blank"><i class="fa fa-facebook fa-lg"></i></a></li>
              <li><a class="google" href="#" target="_blank"><i class="fa fa-google-plus fa-lg"></i></a></li>
            </ul>
             
            <hr /> -->
            <form class="form-horizontal" role="form" id="signup_form" action="/register/" method="POST">{% csrf_token %}
              <div class="form-group">
                <label for="name" class="col-sm-3 control-label">
                  <i class="fa fa-user">&nbsp;</i>First Name</label>
                <div class="col-sm-8">
                  <input type="text" name="first_name" class="form-control bfh-name">
                 {{ registerForm.first_name }}
                </div>
              </div>
              <div class="form-group">
                <label for="name" class="col-sm-3 control-label">
                  <i class="fa fa-user">&nbsp;</i>Last Name</label>
                <div class="col-sm-8">
                  <input type="text" name="last_name" class="form-control bfh-name">
                 {{ registerForm.last_name }}
                </div>
              </div>
              <div class="form-group">
                <label for="location" class="col-sm-3 control-label"><i class="fa fa-envelope">&nbsp;</i>Email</label>
                <div class="row-fluid col-sm-8">
                  <input type="email" name="email" class="form-control" value="@stanford.edu">
                  {{ registerForm.email }}
                </div>
              </div>
              <div class="form-group">
                <label for="time" class="col-sm-3 control-label"><i class="fa fa-lock">&nbsp;</i>Password</label>
                <div class="row-fluid col-sm-8">
                  <input type="password" name="password" class="form-control">
                  {{ registerForm.password }}
                </div>
              </div>
              <div class="form-group">
                <label for="time" class="col-sm-3 control-label"><i class="fa fa-check">&nbsp;</i>Confirm</label>
                <div class="row-fluid col-sm-8">
                  <input type="password" name="password2" class="form-control">
                  {{ registerForm.password2 }}
                </div>
              </div>
            </form>
          </div>
            <div style="text-align: center;"><button type="button" class="btn btn-primary btn-lg" id="signup_submit" data-loading-text="Creating Account...">Signup!</button>
            </div>
        </div>
      </div>
    </div>
    
    <!--Header-->
    <section id="header">
      <div class="container">
        <div class="row header-info margin-20">
          <div class="col-sm-6 col-sm-offset-3 text-center animated fadeIn">
            {% if messages %}
              {% for message in messages %}
              <div class="alert alert-danger">{{message}}</div> 
              {% endfor %} 
            {% endif %}  
            <!-- <img src="/static/img/logo-main.png" class="main-header-img"></img> -->
            <h1 class="main"style="font-size: 60px;">ReqTime</h1>
            <hr>
            <h3 class="white">Your hub for pick-up sports</h3>
            <div class="modal-body">
            <form class="form-horizontal" role="form" 
            id="signin_form" action="/user_login/" method="POST">{% csrf_token %}
              <div class="form-group">
                <label for="location" class="col-sm-3 control-label"><i class="fa fa-envelope">&nbsp;</i>Email</label>
                <div class="row-fluid col-sm-8">
                  <input type="text" name="email" class="form-control" value="@stanford.edu">
                  {{ signInForm.email }}
                </div>
              </div>
              <div class="form-group">
                <label for="time" class="col-sm-3 control-label"><i class="fa fa-lock">&nbsp;</i>Password</label>
                <div class="row-fluid col-sm-8">
                  <input type="password" name="password" class="form-control">
                  {{ signInForm.password }}
                </div>
              </div>
              <div class="hidden-submit" style="visibility: hidden;"><input type="submit"/></div>
            </form>
          </div>
            <div style="text-align: center;"><button type="button"  class="btn btn-primary btn-lg" id="signin_submit" data-loading-text="Signing In...">Sign In</button>
            </div>
        </div>
            </div>

           
          </div>
        </div>
        
        <div class="row animated fadeInUpBig">
          <div class="col-sm-6 col-sm-offset-3 text-center">
          <a href="#main" class="btn btn-default btn-med">Play Now</a>
          <a href="#" class="btn btn-default btn-med" id="request_button">Sign Up</a>
         <!--  <a href="#" class="btn btn-primary btn-lg">Sign Up</a>
          <a href="/login" class="btn btn-primary btn-lg" id="">Log In</a> -->
          </div>
        </div>
      </div>
    </section>
    
    <!--Main-->
    <section id="main" class="white-bg">
      <div class="container">
        <div class="row text-center">
          
          <!--Section-->
          <a class="col-link" href="/sport/football">
          <div class="col-sm-4 margin-30 animated fadeIn delay1">
            <i class="fa fa-dribbble fa-4x home-icons"></i>
            <h3>Football</h3>
            <!-- this is where we want to pull from the database and count the number of games going on -->
            {% if 'football' in num_games %}
            <p>{{num_games.football}} Games Now!</p>
            {% else %}
            <p>No Football Games Now</p>
            {% endif %}
          </div>
          </a>
          
          <!--Section-->
          <a class="col-link" href="/sport/soccer">
          <div class="col-sm-4 margin-30 animated fadeIn delay2">
            <i class="fa fa-dribbble fa-4x home-icons"></i>
            <h3>Soccer</h3>
            {% if 'soccer' in num_games %}
            <p>{{num_games.soccer}} Games Now!</p>
            {% else %}
            <p>No Soccer Games Now</p>
            {% endif %}
          </div>
          </a>
          
          <!--Section-->
          <a class="col-link" href="/sport/basketball">          
          <div class="col-sm-4 margin-30 animated fadeIn delay3">
            <i class="fa fa-dribbble fa-4x home-icons"></i>
            <h3>Basketball</h3>
            {% if 'basketball' in num_games %}
            <p>{{num_games.basketball}} Games Now!</p>
            {% else %}
            <p>No Basketball Games Now</p>
            {% endif %}
          </div>
          </a> 

          <!--Section-->
          <a class="col-link" href="/sport/volleyball">          
          <div class="col-sm-4 margin-30 animated fadeIn delay3">
            <i class="fa fa-dribbble fa-4x home-icons"></i>
            <h3>Volleyball</h3>
            {% if 'volleyball' in num_games %}
            <p>{{num_games.volleyball}} Games Now!</p>
            {% else %}
            <p>No Volleyball Games Now</p>
            {% endif %}
          </div>
          </a> 

          <!--Section-->
          <a class="col-link" href="/sport/tennis">          
          <div class="col-sm-4 margin-30 animated fadeIn delay3">
            <i class="fa fa-dribbble fa-4x home-icons"></i>
            <h3>Tennis</h3>
            {% if 'tennis' in num_games %}
            <p>{{num_games.tennis}} Games Now!</p>
            {% else %}
            <p>No Tennis Games Now</p>
            {% endif %}
          </div>
          </a> 

          <!--Section-->
          <a class="col-link" href="/sport/frisbee">          
          <div class="col-sm-4 margin-30 animated fadeIn delay3">
            <i class="fa fa-dribbble fa-4x home-icons"></i>
            <h3>Frisbee</h3>
            {% if 'frisbee' in num_games %}
            <p>{{num_games.frisbee}} Games Now!</p>
            {% else %}
            <p>No Frisbee Games Now</p>
            {% endif %}
          </div>
          </a> 


      </div>
      <a class="" href="#featured-clients">
          <div class="text-center"><i class="glyphicon glyphicon-chevron-down" style="font-size:2.5em"></i>
          </div>
        </a>
    </section>
    
    <!--Latest Work-->
    <section id="latest-work" class="gray-bg" style="display:none">
      <div class="container">
        <div class="row margin-30">
          <div class="col-sm-12 text-center">
            <h2>Latest Work</h2>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-12">
          
            <div id="work-carousel" class="owl-carousel">
        
              <!--Project-->
              <!-- <div class="thumbs">
                <img src="img/portfolio1.jpg" class="img-responsive" alt="Image Title">
                  <a href="portfolio-item.html">
                    <span class="title">
                      <span>Project Title<br />
                      <i class="fa fa-minus white"></i>
                      <span class="project-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                      </span>
                    </span> 
                  </a>
              </div> -->
              
              <!--Project-->
              <!-- <div class="thumbs">
                <img src="img/portfolio2.jpg" class="img-responsive" alt="Image Title">
                  <a href="portfolio-item.html">
                    <span class="title">
                      <span>Project Title<br />
                      <i class="fa fa-minus white"></i>
                      <span class="project-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                      </span>
                    </span> 
                  </a>
              </div> -->
              
              <!--Project-->
              <!-- <div class="thumbs">
                <img src="img/portfolio3.jpg" class="img-responsive" alt="Image Title">
                  <a href="portfolio-item.html">
                    <span class="title">
                      <span>Project Title<br />
                      <i class="fa fa-minus white"></i>
                      <span class="project-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                      </span>
                    </span> 
                  </a>
              </div> -->
              
              <!--Project-->
              <!-- <div class="thumbs">
                <img src="img/portfolio4.jpg" class="img-responsive" alt="Image Title">
                  <a href="portfolio-item.html">
                    <span class="title">
                      <span>Project Title<br />
                      <i class="fa fa-minus white"></i>
                      <span class="project-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et olore magna aliqua.</span>
                      </span>
                    </span> 
                  </a>
              </div> -->
              
            </div>
            
          </div><!--End Col 12-->
        </div><!--End Row-->
      </div>
    </section>
    
    <!--Latest News-->
    <section id="latest-news" class="dark-bg" style="display:none">
      <div class="container">
        <div class="row margin-30">
          <div class="col-sm-12">
            <h2>Latest News</h2>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-6">
            
            <div class="row">
              
              <!--News Item-->
              <div class="col-sm-6">
                <a class="news-link" href="#">
                <div class="news-box">
                  <h4>Latest news title will go here</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                  <span class="icon"></span>
                </div>
                </a>
              </div>
              
              <!--News Item-->
              <div class="col-sm-6">
                <a class="news-link" href="#">
                <div class="news-box">
                  <h4>Latest news title will go here</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                  <span class="icon"></span>
                </div>
                </a>
              </div>
              
            </div><!--End Nested Row-->
          </div><!--End Col-->
          
          <div class="col-md-6">
            <div class="row">
          
              <!--News Item-->
              <div class="col-sm-6">
                <a class="news-link" href="#">
                <div class="news-box">
                  <h4>Latest news title will go here</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                  <span class="icon"></span>
                </div>
                </a>
              </div>
              
              <!--News Item-->
              <div class="col-sm-6">
                <a class="news-link" href="#">
                <div class="news-box">
                  <h4>Latest news title will go here</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                  <span class="icon"></span>
                </div>
                </a>
              </div>
              
            </div><!--End Nested Row-->
          </div><!--End Col-->
        </div><!--End Row-->
        
      </div>
    </section>
    
    
    <!--Testimonials-->
    <section id="testimonials" class="white-bg" style="display:none">
      <div class="container">
        <div class="row margin-30">
          <div class="col-sm-12 text-center">
            <h2>Kind Words</h2>
          </div>
        </div>
        
        <div class="row">
          <div id="kind-words" class="carousel slide">
            
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              
              <div class="item active"><!-- class of active since it's the first item -->
                <div class="row margin-30">
                  <div class="col-sm-8 col-sm-offset-2">
                    <div class="row margin-30">
                      <div class="col-sm-3 text-center">
                        <img class="img-circle img-responsive" src="img/testimonial.png" alt="Title">
                        <h5>Jen,</h5>
                        <small title="Source Title"><em>Title | <a href="#" class="more">Company Name</a></em></small>
                      </div>
                      <div class="col-sm-9 text-center">
                        <h3>“We are amazed at the quality”</h3>
                        <hr />
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!--End Item-->
              
              <div class="item">
                <div class="row margin-30">
                  <div class="col-sm-8 col-sm-offset-2">
                    <div class="row margin-30">
                      <div class="col-sm-3 text-center">
                        <img class="img-circle img-responsive" src="img/testimonial2.png" alt="Title">
                        <h5>Ron,</h5>
                        <small title="Source Title"><em>Title | <a href="#" class="more">Company Name</a></em></small>
                      </div>
                      <div class="col-sm-9 text-center">
                        <h3>“Really good looking themes & great support!”</h3>
                        <hr />
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!--End Item-->
              
              <div class="item"><!-- Embedd your tweets below -->
                <div class="row margin-30">
                  <div class="col-sm-10 col-sm-offset-1">
                    <div class="row margin-30">
                      
                      <div class="col-sm-4">
                        <blockquote class="twitter-tweet"><a href="https://twitter.com/themearmada/statuses/342791924169711617"></a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                      </div>
                      
                      <div class="col-sm-4">
                        <blockquote class="twitter-tweet"><a href="https://twitter.com/themearmada/statuses/353140315336622082"></a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                      </div>
                      
                      <div class="col-sm-4">
                        <blockquote class="twitter-tweet"><a href="https://twitter.com/themearmada/statuses/359429090140782592"></a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div><!--End Item-->
              
            </div>
          
            <!-- Controls -->
            <a class="left carousel-control" href="#kind-words" data-slide="prev">
              <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#kind-words" data-slide="next">
              <span class="icon-next"></span>
            </a>
          </div>
        </div><!--End Row-->
        
      </div>
    </section>
    
    
    <!--Featured Clients-->
    <section id="featured-clients" class="gray-bg" style="display:none">
      <div class="container">
        <div class="row">
          
          <!-- <div class="col-sm-2">
            <h2>Where We Serve</h2>
          </div> -->
          
          <!--Client-->
          <!-- <div class="col-sm-2">
            <a href="#" class="clients"><img src="" class="img-responsive" alt="Title"></a>
          </div> -->
          
          <!--Client-->
          <!-- <div class="col-sm-2" style="display:none">
            <a href="#" class="clients"><img src="http://www.placehold.it/200x120" class="img-responsive" alt="Title"></a>
          </div> -->
          
          <!--Client-->
          <!-- <div class="col-sm-2" style="display:none">
            <a href="#" class="clients"><img src="http://www.placehold.it/200x120" class="img-responsive" alt="Title"></a>
          </div> -->
          
          <!--Client-->
          <!-- <div class="col-sm-2" style="display:none">
            <a href="#" class="clients"><img src="http://www.placehold.it/200x120" class="img-responsive" alt="Title"></a>
          </div> -->
          
          <!--Client-->
          <!-- <div class="col-sm-2" style="display:none">
            <a href="#" class="clients"><img src="http://www.placehold.it/200x120" class="img-responsive" alt="Title"></a>
          </div> -->

        </div>
        <!-- <a class="" href="#bottom">
          <div class="text-center"><i class="glyphicon glyphicon-chevron-down" style="font-size:2.5em"></i>
          </div>
        </a> -->
      </div>
    </section>
    
    
    <!--Bottom-->
    <section id="bottom">
      <div class="container">
        <div class="row">
          
          <!--Section 1-->
          <div class="col-sm-6 margin-40">
            <h3>About PickUp</h3>
            <div class="gray-box">
              <p>
                Organizing pick-up games for any sport is a logistical strenuous. ReqTime is a social network for pick-up sports that lets you easily create, find, and join games being played in your area.
              </p>
              <a class="more" href="/about/">More</a>
            </div>
          </div>
          
          <!--Section 2-->
          <div class="col-sm-3 margin-40" style="display:none">
            <h3>Email Sign Up</h3>
            <form class="form-inline" role="form" id="email-signup">
              <div class="form-group">
                <input type="email" class="form-control" id="inputEmail" placeholder="Enter email">
              </div>
              <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-chevron-right fa-lg"></i></button>
            </form>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
          </div>
          
          <!--Section 3-->
          <div class="col-sm-3 margin-40" style="display:none">
            <h3>Team</h3>
            <ul class="list-unstyled bottom-links">
              <li><a href="http://www.stanford.edu/~jrabbott" target="_blank">Joseph Abbott</a></li>
              <li><a href="http://www.stanford.edu/~andymai" target="_blank">Andy Mai</a></li>
              <li><a href="#">Kennan Murphy-Sierra</a></li>
              <li><a href="#">Claire Negiar</a></li>
            </ul>
          </div>
          
          <!--Section 4-->
          <!-- <div class="col-sm-3 margin-40"> -->
            <!-- <h3>Contact</h3> -->
            <!-- <div class="gray-box">
              <p><i class="fa fa-phone fa-lg"></i> 650.804.2467</p>
            </div> -->
           <!--  <div class="color-box">
              <p><a href="mailto:support@reqtime.com"><i class="fa fa-envelope-o fa-lg"></i> support@reqtime.com</a></p>
            </div> -->
            <!-- <ul class="list-inline social-icons">
              <li><a href="https://www.twitter.com/safedriven" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.facebook.com/safedriven" target="_blank"><i class="fa fa-facebook"></i></a></li> -->
              <!-- <li><a href="#"><i class="fa fa-github"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-github"></i></a></li> -->
            <!-- </ul> -->
          <!-- </div> -->
        </div>
      </div>
    </section>
    
    
    <!--Footer-->
    <section id="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p class="copyright">Copyright @ ReqTime. All rights reserved.</p>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
    
