{% extends "base.html" %}

{% block content %}
<section class= "overlay" style="background-image: url(http://www.lyft.com/images/bg-quilt.png);">
  <div class="container" >
    <h2 style="">{{sport}} <img src="/static/images/{{sport}}.png" height="40px" width="40px"> </img> </h2>
    <div style="margin:20px"></div>
    {% for game in games_with_sport %}
     <div class="transbox">
    <h5 class="players"> <u>Details for {{game.name}}</u></h5>
    <p class="players">Creator : {{game.creator.first_name}} {{game.creator.last_name}}</p>
    <p class="players">Location: {{game.location.name}}</p>
   </div>
    {% endfor %}
  </div>
   <div class='container'>
  <h2 >Analytics  </h2>
</div> 
</section>
{%endblock%} 

{% block javascript %}
<script type="text/javascript">
</script>
{% endblock %}