{% extends "base.html" %}

{% if not authenticated %}

{% block navlist %}
        <li><a href="/"><i class="fa fa-home fa-lg"></i>&nbsp;Home</a></li>
        {% if loggedinUser == user %}
            <li class="active"><a href="/profile"><i class="fa fa-user fa-lg"></i>&nbsp;Profile</a></li>
        {% else %}
            <li class=""><a href="/profile"><i class="fa fa-user fa-lg"></i>&nbsp;Profile</a></li>
        {% endif %}
        <li><a href="/sports"><i class="fa fa-bullseye fa-lg"></i>&nbsp;Sports</a></li>
        <li><a href="/logout"><i class="fa fa-external-link fa-lg"></i>&nbsp;Logout</a></li>
{% endblock %}
{% endif %}

{% block content %}
<section class= "overlay" style="background-image: url(http://www.lyft.com/images/bg-quilt.png);">
  <div class="container" >
    <h2 style="">{{sport}} <img src="/static/images/{{sport}}.png" height="40px" width="40px"> </img> </h2>
    <div style="margin:20px"></div>
    {% for game in games_with_sport %}
     <div class="transbox">
    <h5 class="players"> <u>Details for {{game.name}}</u></h5>
    <p class="players">Creator : {{game.creator.first_name}} {{game.creator.last_name}}</p>
    <p class="players">Location: {{game.location.name}}</p>
   </div>
    {% endfor %}
  </div>
</section>
{%endblock%}

{% block javascript %}
<script type="text/javascript">
</script>
{% endblock %}