/* ==========================================================================
   Insert Your Custom Styles Below. All styles located in this file will
   override existing main.css stylesheets.
   ========================================================================== */ 
.no-bold {
  font-weight: normal;
  margin-bottom:13px;
}

.bold {
	font-weight: bold;
}

.small-margin {
	margin:2px;
}

.modal-title {
	color:black;
}

.modal-body label {
	color:white;
}

.modal-header button {
	color:white;
}

.players {
	color:black; 
	font-weight: bold;
	margin-left:40px;
	font-size:20px;
  overflow:auto;
}

.transbox
  {
  background-color:#ffffff;
  border:1px solid black;
  opacity:0.6;
  width:45%;
  float:left;
  }

.transbox p
  {
  margin:30px 40px;
  font-weight:bold;
  color:#000000;
 
  }

 .overlay{
 	opacity:0.8;
    background-color:#ccc;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
 }

 div.register label {
  color: black;
 }

 .nav>li>a {
  padding: 15px 7px;
 }



