#prof-pic {
	max-width: 200px;
}

.prof-info {
	margin-top: 5%;
	text-align: center;
	background-color: lightgray;
}

.games-feed {
	margin-top: 5%;
	text-align: center;
	margin-left: 5%
}

.details-left, .details-right {
	padding: 30px;
	text-align: left;
	background-color: white;
	font-color: black;
}

.games-feed .col-md-8 {
}

h5.game-name {
	text-align: left;
	width: 725px;
	padding: 10px;
}

table#games td{
	width: 720px;
	border-bottom: 1px solid white;
}

table#games .odd {
	background-color: lightgray;
}
table#games .even {
	background-color: lightgray;

}

table#games td {

}

.visit-button {
	text-align: center;
}

span.arrow {
	float: right;
	padding-right: 10px;
}